@*<h3>Points Table</h3>
    <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 904px; height: 569px;'><noscript><a href='#'><img alt='2016 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;PointsTable_0&#47;2016&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='904' height='569' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='PointsTable_0&#47;2016' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;PointsTable_0&#47;2016&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showTabs' value='y' /></object></div>*@

<h3>Points Table</h3>

@*<br />
    <br />

    <h3>Standings</h3>
    <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 904px; height: 519px;'>
        <noscript><a href='#'><img alt='Dashboard 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;PointsTable_0&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='904' height='519' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='PointsTable_0&#47;Dashboard2' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;PointsTable_0&#47;Dashboard2&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='showTabs' value='y' /><param name='bootstrapWhenNotified' value='true' />
        </object>
    </div>*@

@*<iframe src="https://www.crichq.com/plugins/base?width=800;height=800&amp;#competitions/10685/draws/32545/standings" width="800" height="800" name="I1" align="middle">You need a frames</iframe>*@

<div style="text-align: center;">
    <iframe width="880" border="0" style="border:none;" height="700" src="https://www.crichq.com/plugins/base?width=850&height=700&border=1#competitions/10685/draws/32545/standings_table"></iframe>
</div>