@{
    ViewBag.Title = "Contact";
}
@Styles.Render("~/Content/tablecss", "~/Content/table.css")
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
<section>
    <h4>Core committee (2015)</h4>
    @*<p>Srinivas Parise -- Tigers <parise_s@hotmail.com> -- 4795862547</p>
    <p>Sridhar -- Mavericks <sridharreddyl@gmail.com> --  4799361490</p>
    <p>Vijay -- UST Blue <vijay.prabhu@gmail.com> -- 9492828051</p>
    <p>Rakesh Mahen <rakesh058@gmail.com> -- 7049067223</p>*@
</section>
<br />
<br />
<h4>Team Contacts</h4>
<br />
<section id="media">
    <table class="table-style">
        <tr><th>Team</th><th>Captain</th><th>Contact</th>

        @*<tr><td>Rookies</td><td>Ramesh</td><td>479-282-4550</td></tr>
        <tr><td>Challengers</td><td>Sai Rajan</td><td>908-731-1328</td></tr>
        <tr><td>Samuraiz CC</td><td>Sukumar</td><td>479-774-8385</td></tr>
        <tr><td>Titans</td><td>Praveen</td><td>860-861-4861</td></tr>
        <tr><td>Mavericks</td><td>Sridhar</td><td>479-936-1490</td></tr>
        <tr><td>Blazers</td><td>Suresh G</td><td>479-282-9450</td></tr>
        <tr><td>Starz</td><td>Nazim Hussain</td><td>718-785-6628</td></tr>
        <tr><td>Buddies</td><td>Sreeni</td><td>479-586-2547</td></tr>
        <tr><td>WCC (Wipro Cricket Club)</td><td>Sathya</td><td>503-547-7130</td></tr>
        <tr><td>Royal Bulls</td><td>Navaraj</td><td>305-546-9697</td></tr>
        <tr><td>Benton Crusaders</td><td>Lovkesh</td><td>678-429-5405</td></tr>
        <tr><td>Benton Royals</td><td>Ajeet Giri</td><td>770-363-6033</td></tr>
        <tr><td>Rebels</td><td>Dilip Nandala</td><td>408-431-0210</td></tr>
        <tr><td>Xtras</td><td>Ravi Attili</td><td>479-282-5757</td></tr>
        <tr><td>Wally</td><td>Ravi Dadi</td><td>404-536-2552</td></tr>
        <tr><td>The Rest of the World XI</td><td>Anton Groom</td><td>479-544-8780</td></tr>
        <tr><td>Beemers</td><td>Ashutosh</td><td>479-866-1603</td></tr>
        <tr><td>Spartans</td><td>Arun S</td><td>515-817-3255</td></tr>
        <tr><td>Rivals</td><td>Jaggu M</td><td>479-899-4040</td></tr>
        <tr><td>UST Warriors</td><td>Reny T</td><td>949-607-7442</td></tr>
        <tr><td>Stallionz</td><td>Devdatta Bendrikar</td><td>479-340-6720</td></tr>
        <tr><td>Hawks</td><td>Ritesh</td><td>510-717-6845</td></tr>
        <tr><td>Jaguars</td><td>Harigovindan</td><td>479-306-2893</td></tr>*@
    </table>
</section>
