@{
    ViewBag.Title = "Galery";
}
<h3 style="color: red;">
    Its a sample page..Please check later..
</h3>
<section id="media">
    <!--links to galleries and videos-->
    <h2>
        Media</h2>
    <h3>
        Galleries</h3>
    <figure>
        <a href="#"></a>
        <figcaption>Gallery One</figcaption>
    </figure>
    <figure>
        <a href="#"></a>
        <figcaption>Gallery Two</figcaption>
    </figure>
    <figure>
        <a href="#"></a>
        <figcaption>Gallery Three</figcaption>
    </figure>
    <div class="clear">
    </div>
    <h3>
        Videos</h3>
    <figure>
        <a href="#"></a>
        <figcaption>Videos One</figcaption>
    </figure>
    <figure>
        <a href="#"></a>
        <figcaption>Videos Two</figcaption>
    </figure>
    <figure>
        <a href="#"></a>
        <figcaption>Videos Three</figcaption>
    </figure>
    <div class="clear">
    </div>
</section>
<!--end media-->
