@{
    ViewBag.Title = "Live Scores";
}
<script type="text/javascript">
    $(function () {
        $("#accordion").accordion({
            heightStyle: "content",
            autoHeight: false
        });
    });
</script>
<h2>Live Scores</h2>
<div id="accordion">
    <h3>
        <a href="#">
            Match
        </a>
    </h3>
    <div>
        <ul>
            <li>
                <div>
                    Match Details
                </div>
            </li>
        </ul>
    </div>
</div>

