@{
    ViewBag.Title = "Players";
}
@Styles.Render("~/Content/tablecss", "~/Content/table.css")
<style type="text/css">
    table.table-style {
        width: 98%;
        font-size: 11px;
    }

    .text-align-center {
        text-align: center;
    }
</style>
<section id="" class="text-align-center">
    <div>
        <table id="tblPlayers" class="table-style ui-helper-hidden">
            <tr class="odd-row"><th></th><th>Players</th><th>Innings</th><th>Runs Scored</th><th>Balls Faced</th><th>S.R</th><th>Overs Bowled</th><th>Wickets</th><th>Runs Given</th><th>Bowling Avg</th><th>Bowling Economy</th></tr>
        </table>
    </div>
</section>

