@{
    ViewBag.Title = "Schedule";
}
<h2>Schedule</h2>
@Styles.Render("~/Content/tablecss", "~/Content/table.css")
<style type="text/css">
    table.table-style {
        width: 95%;
        font-size: 11px;
    }
</style>
<div>
    <table id="tblPlayers" class="table-style">
        <tr>
            <th>
                Date
            </th>
            <th>
                Teams
            </th>
            <th>
                Ground
            </th>
            <th>
                Round
            </th>
            <th>
                Umpire
            </th>
            <th>
                3rd Umpire
            </th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
