@{
    ViewBag.Title = "ScoreCard";
}
@Styles.Render("~/Content/tablecss", "~/Content/table.css")

@*<span>@Html.ActionLink("Back to All Scorecards", "Index", "Admin", new { @class = "float-right buttontype" })</span>*@
<h2>ScoreCard</h2>

