@{
    ViewBag.Title = "Stats";
}@Styles.Render("~/Content/tablecss", "~/Content/table.css")
<h1>
    Statistics
</h1>
<h3>
    Batting Stats
</h3>
<table class="table-style">
    <tr>
        <th>
            Batsman Name
        </th>
        <th>
            Team
        </th>
        <th>
            Runs Scored
        </th>
        <th>
            Balls Faced
        </th>
        <th>
            No. of Matches
        </th>
        <th>
            SR
        </th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br />
<h3>
    Bowling Stats
</h3>
<table class="table-style">
    <tr>
        <th>
            Bowlers Name
        </th>
        <th>
            Team
        </th>
        <th>
            Wickets
        </th>
        <th>
            No. of Matches
        </th>
        <th>
            No. of Balls
        </th>
        <th>
            Runs
        </th>
        <th>
            Avg
        </th>
        <th>
            Economy
        </th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
