@{
    ViewBag.Title = "Teams";
}
@Styles.Render("~/Content/tablecss", "~/Content/table.css")
@Html.ActionLink("Go to Players", "Players", "Home")
<section id="media">
    <h2>Teams</h2>
    <table class="table-style">
        <tr>
            <th>
                Group Name
            </th>
            <th>
                Team Name
            </th>

        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</section>
<br />
