@{
    ViewBag.Title = "Teams";
}
@Styles.Render("~/Content/tablecss", "~/Content/table.css")
@Html.ActionLink("Go to Players", "Players", "Home")



<section id="media">
    <h2>Teams</h2>
    <iframe width="800" border="0" style="border:none;" height="1024" src="https://www.crichq.com/plugins/base?width=780&height=600&border=1#clubs/216136/teams"></iframe>
</section>
<br />
