@{
    ViewBag.Title = "PointsTable";
}

<h3>Points Table</h3>
<div style="text-align: center;">
    <iframe width="880" border="0" style="border:none;" height="700" src="https://www.crichq.com/plugins/base?width=850&height=700&border=1#competitions/11075/draws/33897/standings_table"></iframe>
</div>
