@{
    ViewBag.Title = "Round";
}

<h2>Round</h2>
<br />
<br />

<div style="text-align: center;">
    <iframe width="900" border="0" style="border: none;" height="2040" src="https://www.crichq.com/plugins/base?width=900&height=2040&border=1#competitions/11075/draws/33897/rounds/pool/1"></iframe>
</div>